@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    color: #666666;
}

.header_box {
    width: 860px;
    margin: 0 auto;
}

.header_box h1 {
    margin: 0 0 26px 0;
    padding-top: 18px;
    text-align: center;
}

nav {
    width: 860px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding-left: 0px;
    overflow: hidden;
}

nav ul li {
    width: 215px;
    float: left;
}

nav ul li a {
    display: block;
    height: 0px;
    padding-top: 60px;
    overflow: hidden;
}

nav ul li.nav_about a {
    background-image: url("../images/nav1.png");
}

nav ul li.nav_guide a {
    background-image: url("../images/nav2.png");
}

nav ul li.nav_animals a {
    background-image: url("../images/nav3.png");
}

nav ul li.nav_contact a {
    background-image: url("../images/nav4.png");
}

.path {
    width: 860px;
    margin:0 auto;
}

.contents_box {
    width: 860px;
    margin:0 auto;
}

#side {
    width: 860px;
    margin:0 auto;
}

#footer {
    width: 860px;
    margin:0 auto;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「動物園について」ページ ここから↓ */

/* 「動物園について」ページ ここまで↑ */

/* 「ガイドのご案内」ページ ここから↓ */

/* 「ガイドのご案内」ページ ここまで↑ */

/* 「人気の動物たち」ページ ここから↓ */

/* 「人気の動物たち」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
